# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wujianxiong\Desktop\Dimple系统Demo\训练code\demo2(模型部分参考SINetV2-resnet18)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
